@import "./fonttypes.css";
@import "./colors.css";

* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-size: 15px;
}
.content {
  display: flex;
  padding: 350px 350px;
}

.cardwrapper {
  margin: 10px;

  align-items: center;
  border-radius: 24px;
}

p {
  padding-top: 18px;
}

h3 {
  font-size: 36px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.sedan {
  background-color: hsl(31, 77%, 52%);
}

.suv {
  background-color: hsl(184, 100%, 22%);
}

.luxury {
  background-color: hsl(179, 100%, 13%);
}
