@import "./fonttypes.css";
@import "./colors.css";

* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardwrapper {
  display: flex;
  height: 70%;
  width: 100%;
}

img {
}

section {
  height: 500px;
  width: 300px;
  padding: 48px;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 18px;
  margin-bottom: 18px;
}

h3 {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 36px;
  margin-bottom: 18px;
}

button {
  border-radius: 32px;
  background-color: transparent;
  border-style: solid 4px;
  padding: 18px;
  margin-top: 42px;
  font-size: 18px;
  border-color: hsla(0, 0%, 100%, 0.75);
}

button.learn {
  color: hsla(0, 0%, 100%, 0.75);
}

button :hover {
  
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.sedan {
  background-color: hsl(31, 77%, 52%);
}

.suv {
  background-color: hsl(184, 100%, 22%);
}

.luxury {
  background-color: hsl(179, 100%, 13%);
}
